body{

<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  
font-family: 'Shadows Into Light', cursive;
margin-left:160px;
background-image:url("images/animal theme.jpg");
background-repeat:repeat-x;
background-attachment: fixed;
background-height:100%;
background-color:#F4F4F4;
/*font-family: Georgia, "Times New Roman", serif;*/}

h1{
  padding-top:100px;
  text-align:center;
  color: black;}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;}

div.assignment-label{
  font-family: Impact, Charcoal, sans-serif;
  font-size: 30px}
  
span.username{
  background-color:white;
  color: black;
  font-size:20px;
  padding:5px;}

div.nav{
  height:100%;
  width:160px;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color: #EDCB9A;
  background-color: Goldenrod;
  overflow-x:hidden;
  padding-top: 20px;}

.nav a{
  padding:6px 8px 6px 16px;
  text-decoration:none;
  font-size:25px;
  color:black;
  display:block;}

.nav a:hover{
  color:#f1f1f1;}
  


div.day-box.PREP{
  background-color:white;
  color: black;
  border: 10px solid #B54F3B;
  padding: 10px;
  margin: 10px;}

div.day-box.CURRENT{
  background-color:white;
  color:black;
  border: 10px solid Goldenrod;
  padding:10px;
  margin:10px;}

div.day-box.COMPLETED{
  background-color:white;
  color:black;
  border: 10px solid #1C5D45;
  padding:10px;
  margin:10px;}

div.day{
  font-size: 30px;
  background-image: url(cow3.jpg);
  background-repeat:no-repeat;
  padding-left:50px;
  height:75px;}

div.notes{
  background-color: purple;
  color: black}

div.reading-box{
  /*background-color: gray;
  float: left;
  overflow: auto;*/}

div.prep-box{
  /*background-color: purple;
  float: center;
  overflow: auto;*/}
  
a.assignment_link{
  background-color:gray;}

div.lab-box{
  /*background-color: purple;
  /*float: left;
  overflow: auto;*/}

div.header{
  margin-top:0px;

svg{
  padding-top: 100px;}

ul{
  font-size: 15}

li{
  font-size: 15}


