@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light'); @import url('https://fonts.googleapis.com/css?family=Amaranth');

body{
font-family: 'Amaranth', sans-serif;  
/*color:#2f4f4f;*/
margin-left:200px;
background-color:#E7AF84;
height:100%;
background-repeat:repeat;
background-attachment: fixed;
background_height:100px;}


a:link{
  color:#b54f3b;}
a:visited{
  color:#1c5d45;}

h1{
  font-family: 'Shadows Into Light', cursive;
  text-align:center;
  color: black;
  font-size:60px;
  margin: 0px;}

span.username{
  margin-right:20px;}

img{
  position: relative;
  background-image:url("cat.png");
  border: 10px solid #F4DACB;
  border-radius: 4px;
  width: 150px;}

 div.assignment_title{
    font-size: 40px;
    margin-top:10px;}

th{
  padding-bottom:25px;
  font-size: 25px;
  text-decoration: underline;}

div.assignment-label{
  font-size: 30px}


span.username{
  position: relative;
  left: 20px;
  color: black;
  font-size:20px;
  padding:10px;}


div.nav{

  background-image:url("sideCats2.png");
  background-color:#91B6AF;
  background-repeat:repeat-y;
  height:100%;
  width:140px;
  font-family: 'Shadows Into Light', cursive;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  overflow-x:hidden;
  padding-top: 20px;
  padding-left:40px;
}

.nav a{
  padding:6px 8px 6px 16px;
  text-decoration:none;
  font-size:25px;
  color:black;
  display:block;}

.account_form label{
  display:block;
  padding-top: 20px;}

.account_form input{
  display:block;}

div.title{
  font-size:30px;
  margin-top:10px;}
  

.nav a:hover{
  color:#f1f1f1;}

  


div.day-box.PREP{
  background: #F3F3F3;
  /*background-image: url(22-2.png);*/
  background-image:url("backgroundCat.jpg");
  background-repeat:no-repeat;
  background-position:right;
  padding-left:50px;
  padding-top:60px;
  color: black;
  border: 10px solid #91B6AF;
  border-style: double;
  border-radius:5px;
  padding: 10px;
  margin: 10px;}

div.day-box.PREP:hover{
  border-style:solid;}


div.day-box.CURRENT{
  background: #F3F3F3;
  /*background-image: url(22-2.png);*/
  background-image:url("backgroundCat.jpg");
  background-repeat:no-repeat;
  background-position:right;
  padding-left:50px;
  padding-top:60px;
  color:black;
  border: 10px solid #91B6AF;
  border-style: double;
  border-radius:5px;
  padding:10px;
  margin:10px;}

div.day-box.CURRENT:hover{
  border-style: solid;}

div.day-box.COMPLETED{
  background: #F3F3F3;
  /*background-image: url(22-2.png);*/
  background-image:url("backgroundCat.jpg");
  background-repeat:no-repeat;
  background-position:right;
  padding-left:50px;
  padding-top:60px;
  color:black;
  border: 10px solid #91B6AF;
  border-style: double;
  border-radius:5px;
  padding:10px;
  margin:10px;}

div.day-box.COMPLETED:hover{
  border-style:solid;}

div.day{
  padding-left: 55px;
  background-image:url("catPaw3.png");
  background-repeat: no-repeat;
  background-position: left top;
  font-size: 40px;
  height:50px;
}

#text{
  margin-left:50px;}

 

div.notes{
  color: black;
  font-size: 20px;
  margin-top: 30px;
  left: 5px;}

div.reading-box{
  margin:5px;
  margin-left:250px;

  padding:5px;
}


div.prep-box{
  margin:5px;
  margin-left:250px;
  padding:5px;
}
  

div.grading-box{
  margin:5px;
  margin-left:250px;
  padding:5px;
}
  

div.lab-box{
  margin:5px;
  margin-left:250px;
  padding:5px;
}

div.header{
  margin-top:0px;

svg{
  background-color: #91B6AF;
  position: relative;
  margin-top: 350px;}
  
div.assignment-label{
  font-size: 20px;
  font-weight: bold;
  margin-left:250px;}

ul{
  font-size: 15}

li{
  font-size: 15}
  
div.title{
  font-size:30px;
  margin: 10px;}
 
  image.seat_pic{
    background-color: #91B6AF;}
  
  textarea.input_text{
    width=500px;
    height=200px;}
  

tbody td{
  padding-bottom: 30px;}
  

  

