@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light'); @import url('https://fonts.googleapis.com/css?family=Amaranth');

body{
color:#2f4f4f
font-family: 'Amaranth', sans-serif;  
margin-left:300px;
background-image:url("backgroundCat.jpg");
height:100%;
background-repeat:repeat-x;
background-attachment: fixed;
background_height:100px;
background-color:#F4F4F4;
font-size:25px;}

a:link{
  color:#B54F3B;}
a:visited{
  color:#1C5D45;}

h1{
  padding-top:10px;
  font-family: 'Shadows Into Light', cursive;
  text-align:center;
  color: black;
  font-size:60px;}

img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;}



div.assignment-label{
  font-size: 30px}


span.username{
  background-color:white;
  position: relative;
  left: 20px;
  color: black;
  font-size:20px;
  padding:10px;}

div.nav{
  background-image:url("sideCats2.png");
  background-repeat:repeat-y;
  height:100%;
  width:100px;
  font-family: 'Shadows Into Light', cursive;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color: #EDCB9A;
  overflow-x:hidden;
  padding-top: 20px;
  padding-left:50px;}

.nav a{
  padding:6px 8px 6px 16px;
  text-decoration:none;
  font-size:25px;
  color:black;
  display:block;}

.nav a:hover{
  color:#f1f1f1;}

div.partners{
  margin-top:80px;}
  


div.day-box.PREP{
  background-image: url(dragon3.jpg);
  background-repeat:no-repeat;
  padding-left:50px;
  color: black;
  border: 10px solid #E7AF84;
  padding: 10px;
  margin: 10px;}

div.day-box.CURRENT{
  background-image: url(tiger3.jpg);
  background-repeat:no-repeat;
  padding-left:50px;
  color:black;
  border: 10px solid #F4DACB;
  padding:10px;
  margin:10px;}

div.day-box.COMPLETED{
  background-image: url(snake3.jpg);
  background-repeat:no-repeat;
  padding-left:50px;
  color:black;
  border: 10px solid #91B6AF;
  padding:10px;
  margin:10px;}

div.day{
  font-size: 30px;
  padding-left:50px;
  height:50px;}

div.notes{
  color: black;
  font-size: 20px;
  margin-top: 20px;
  float: left;}

div.reading-box{
  margin-left:250px;}


div.prep-box{
  margin-left:250px;}

div.grading-box{
  margin-left:250px;}
  

div.lab-box{
  margin-left:250px;}

div.header{
  margin-top:0px;

svg{
  position: relative;
  margin-top: 350px;}
  
div.assignment-label{
  font-size: 20px;
  font-weight: bold;
  margin-left:250px;}

ul{
  font-size: 15}

li{
  font-size: 15}


